/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --background-color:#6c2234;
    --text-color:#ffa500 ;
    /* --white: #e8dfd5;
    --blue: #3b4883;
    --dark-blue: #272d4e;
    --cinamon: #dbbba7; */
    /* --yellow : #4b0082; */
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    /* ---------------------------------------- */
    /* margin-top: 10px; */
    font-family: "Rubik", monospace;
    background: var(--background-color);
    color: var(--text-color);
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

#root, #__next {
    isolation: isolate;
}

/* --------------------------------------------------------- */
header {
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

    & h1 {
        display: inline-block;
        text-align: center;
        margin-top: 20px;
        font-size: 48px;
        border-bottom: 1px solid;
    }
}
.page {
    margin: auto;
    max-width: 90vw;
    @media (orientation: landscape) {
        max-width: 1200px;
    }
}

.container {
    /* padding: 10px; */
    border: 3px solid var(--blue);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 80px 40px;
    margin-bottom: 50px;
}

.card {
    padding: 10px;
    /* border: 1px solid var(--blue); */
    border-radius: 5px;
    width: 200px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    background: var(--text-color);
    color: var(--background-color);
    border-top: 10px solid var(--level);
    box-shadow: 5px 5px 10px #0c0c0c;


    &.easy {
        --level: #13b664;
    }

    &.medium {
        --level: #f2ff3d;
    }

    &.advanced {
        --level: #ff0000;
    }

    & a:hover {
        color: var(--level);
    }

    & h2 {
        text-align: center;
        border-bottom: 2.5px solid var(--level);
    }

    & a {
        text-decoration: none;
        /* font-family: monospace; */
        color: var(--background-color);
    }

    & p {
        padding: 0 10px 10px 10px;
        margin-top: 10px;
        font-weight: 500;
    }
}
footer{
    background-color: var(--text-color);
    box-shadow: 0 -8px 10px #0c0c0c;
    color: var(--background-color);
    text-align: center;
    padding: 10px 0;
}