@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
    font-family: 'Minecraft';
    font-style: normal;
    font-weight: normal;
    src: local(1_MinecraftRegular1), url(1_MinecraftRegular1.woff) format(woff);
}

@font-face {
    font-family: 'Minecraft Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Minecraft Italic'), url('2_MinecraftItalic1.woff') format('woff');
}

@font-face {
    font-family: 'Minecraft Bold';
    src: local(3_MinecraftBold1), url(3_MinecraftBold1.woff) format(woff);
}

@font-face {
    font-family: "Minecraft Bold Italic";
    src: local(4_MinecraftBoldItalic1), url(4_MinecraftBoldItalic1.woff) format(woff);
}

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #0c0c0c;
    color: azure;
    padding: 10px;
    /* margin: 0 auto; */
}

.main {
    width: 80%;
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;

    & h1 {
        text-align: center;
    }
}

div {
    padding: 15px;
    border-radius: 10px;
}

.challenge {
    text-align: justify;
    /* background: linear-gradient(90deg, #33001b, #ff0084); */
    background: linear-gradient(90deg, #8e2de2, #4a00e0);

    & p {
        font-family: monospace;
        font-weight: bold;
        font-size: 16px;
    }

}


/* CLASS CARD */

.card {
    width: 100%;
    max-width: fit-content;
    height: min-content;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-family: "Minecraft", monospace;
    font-size: 20px;
    text-align: justify;
    background: url(https://www.minecraft.net/etc.clientlibs/minecraft/clientlibs/main/resources/img/feature-content/bg-wool-dark.png);
}

.card, .card a {
    color: #D0C5C0;
}


.card div {
    margin: 0;
}

.card ul {
    list-style: none;
}

.card li {
    padding: 1px;
}

.card a {
    text-decoration: none;
}

.card a:hover {
    color: #678f9a;
    /* text-decoration: underline; */
}

img.icon {
    margin: 5px 10px 0 0;
    width: 20px;
}

img.avatar {
    width: 300px;
    /* border: 1px solid #FC9FB1; */
}