@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto";
    text-align: center;
    background-color: #0c0c0c;
    color: azure;
}
.main {
    width: 80%;
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px 0;
    justify-content: center;
    align-items: center;
    text-align: center;
}
div {
    padding: 10px;
    border-radius: 10px;
}
pre {
    text-align: justify;
    background-color: #0c0c0c;
    border-radius: 10px;
    width: 100%;
}
.challenge {
    background: linear-gradient(90deg, #8e2de2, #4a00e0);
}

.container {
    background: linear-gradient(90deg, #870000, #ff9100);
    font-size: 0.8rem;
}