/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

:root {
    --background-color: #2e2e2e;
    --text-color: #fefefe;
    --blue-color: #2a77f1;
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    scroll-behavior: smooth;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    /* ---------------------------------------- */
    font-family: "Rubik", monospace;
    background: var(--background-color);
    color: var(--text-color);
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

#root, #__next {
    isolation: isolate;
}


button {
    background-color: #892ca8;
    color: #3ff32f;
    border: 0;
    outline: 1px solid;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;

    &:hover {
        color: #892ca8;
        background-color: #3ff32f;
    }
}
.main {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    height: 60vh;
}